<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates & Jinja2: Exercise 6</title>
</head>
<body>
    <ul>
        <li>{{ filter_list[0] | upper }}</li>
        <li>{{ filter_list[1] | round(2) }}</li>
        <li>{{ filter_list[2] | lower }}</li>
        <li>{{ filter_list[3] | title }}</li>
        <li>{{ filter_list[4] | safe }}</li>
        <li>{{ filter_list[5] | count}}</li>
    </ul>
</body>
</html>